<div class="w-full flex justify-end">
  <a class="p-1" href="https://github.com/gsej/pension-predictor">
    <img alt="github icon" src="GitHub-Mark-32px.png" />
  </a>
</div>

<!-- very crude selector for now -->
<select [value]="model" (change)="changeModel($event)">
  <option value="model1">Model1</option>
  <option value="model2">Model2</option>
  <option value="model3">Model3</option>
  <option value="model4">Model4</option>
</select>

<div class="min-h-screen flex flex-col">
  <div class="flex-1 rounded-xl border bg-background font-mono">
    <main class="flex-1">
      <div class="flex-1 overflow-y-auto">
        <!-- application shell -->
        <div class="grid items-start gap-8 p-6">
          @if (model === 'model1') {
            <app-model1-container></app-model1-container>
          }

          @if (model === 'model2') {
            <app-model2-container></app-model2-container>
          }

          @if (model === 'model3') {
            <app-model3-container></app-model3-container>
          }

          @if (model === 'model4') {
            <app-model4-container></app-model4-container>
          }
        </div>
      </div>
    </main>
  </div>
  <footer class="p-4 text-right text-sm text-gray-500">
    <app-pi [text]="gitHash"></app-pi>
  </footer>
</div>
