<div class="flex mb-2">
  <gsej-ng-tailwind-header>Model 2</gsej-ng-tailwind-header>
  <div class="flex items-center">
    <app-popup class="ml-4">
      <div [innerHTML]="description"></div>
    </app-popup>
  </div>
</div>
<div class="grid grid-cols-2 pt-0">
  <div class="flex flex-col">
    <app-model2-inputs (onCalculate)="calculate($event)"></app-model2-inputs>
  </div>
  <div class="flex flex-col">
    <app-model2-chart class="h-full" [prediction]="prediction"></app-model2-chart>
  </div>
</div>
<app-model2-results [prediction]="prediction"></app-model2-results>
