<app-header class="mb-2">Model 2</app-header>
<div class="grid grid-cols-2 pt-0">
  <app-model2-inputs (onCalculate)="calculate($event)"></app-model2-inputs>
  <app-model2-chart [prediction]="prediction"></app-model2-chart>
</div>
<app-model2-results [prediction]="prediction"></app-model2-results>

<!--


  The first model is based on


  https://www.youtube.com/watch?v=1LUIQa5hgMg

  and is a simple compounding model based on a starting amount, a yearly contribution and a fixed rate of return

-->
