<form #model1Form="ngForm">
  <gsej-ng-tailwind-card class="h-72">
    <gsej-ng-tailwind-card-content>
      <div class="flex gap-4 mt-1">
        <div class="flex-1">
          <gsej-ng-tailwind-formlabel for="startYear">Start Year</gsej-ng-tailwind-formlabel>
          <input tabindex="1" class="input max-w-xs" type="number" id="startYear" name="startYear" [(ngModel)]="inputs.startYear" />
        </div>
        <div class="flex-1">
          <gsej-ng-tailwind-formlabel for="endYear">End Year</gsej-ng-tailwind-formlabel>
          <input tabindex="2" class="input max-w-xs" type="number" id="endYear" name="endYear" [(ngModel)]="inputs.endYear" />
        </div>
      </div>
      <div class="flex gap-4 mt-1">
        <div class="flex-1">
          <gsej-ng-tailwind-formlabel for="ageAtStart">Age At Start</gsej-ng-tailwind-formlabel>
          <input tabindex="3" class="input max-w-xs" type="number" id="ageAtStart" name="ageAtStart" [(ngModel)]="inputs.ageAtStart" />
        </div>
        <div class="flex-1">
          <gsej-ng-tailwind-formlabel for="targetAge">Target Age</gsej-ng-tailwind-formlabel>
          <input tabindex="4" class="input max-w-xs" type="number" id="targetAge" name="targetAge" [(ngModel)]="inputs.targetAge" />
        </div>
      </div>
      <div class="flex gap-4 mt-1">
        <div class="flex-1">
          <gsej-ng-tailwind-formlabel for="amountAtStart">Amount At Start</gsej-ng-tailwind-formlabel>
          <input tabindex="5" class="input max-w-xs" type="number" id="amountAtStart" name="amountAtStart" [(ngModel)]="inputs.amountAtStart" />
        </div>
        <div class="flex-1">
          <gsej-ng-tailwind-formlabel for="annualContribution">Annual Contribution</gsej-ng-tailwind-formlabel>
          <input tabindex="6" class="input max-w-xs" type="number" id="annualContribution" name="annualContribution" [(ngModel)]="inputs.annualContribution" />
        </div>
      </div>
      <div class="flex gap-4 mt-1">
        <div class="flex-1">
          <gsej-ng-tailwind-formlabel for="meanAnnualReturn">Mean annual return</gsej-ng-tailwind-formlabel>
          <input tabindex="7" class="input max-w-xs" type="number" id="meanAnnualReturn" name="meanAnnualReturn" [(ngModel)]="inputs.meanAnnualReturn" />
        </div>
        <div class="flex-1">
          <app-button variant="secondary" class="w-28 my-7 px-2" (click)="reset()">Reset</app-button>
          <app-button variant="primary" class="w-28 my-7" (click)="calculate()">Recalculate</app-button>
        </div>
      </div>
    </gsej-ng-tailwind-card-content>
  </gsej-ng-tailwind-card>
</form>
