<div class="flex mb-2">
  <gsej-ng-tailwind-header>Model 1</gsej-ng-tailwind-header>
  <div class="flex items-center">
    <app-popup class="ml-4">
      <div [innerHTML]="description"></div>
    </app-popup>
  </div>
</div>

<div class="grid grid-cols-2 pt-0">
  <div class="flex flex-col">
    <app-model1-inputs (onCalculate)="calculate($event)"></app-model1-inputs>
  </div>
  <div class="flex flex-col">
    <app-model1-chart class="h-full" [prediction]="prediction"></app-model1-chart>
  </div>
</div>
<app-model1-results [prediction]="prediction"></app-model1-results>
