<div class="flex mb-2">
  <gsej-ng-tailwind-header>Model 1</gsej-ng-tailwind-header>
  <div class="flex items-center">
    <gsej-ng-tailwind-popup class="ml-4">
      <p>This is a simple model that assumes all of the assets in the portfolio are of a single type with a fixed annual growth rate.
        For example, the entire portfolio could be in global equities, and it could be assumed they'll grow at 5% a year
      </p>
    </gsej-ng-tailwind-popup>
  </div>
</div>

<div class="grid grid-cols-2 pt-0">
  <div class="flex flex-col">
    <app-model1-inputs (onCalculate)="calculate($event)"></app-model1-inputs>
  </div>
  <div class="flex flex-col">
    <app-model1-chart class="h-full" [prediction]="prediction"></app-model1-chart>
  </div>
</div>
<app-model1-results [prediction]="prediction"></app-model1-results>