<div class="flex mb-2">
  <gsej-ng-tailwind-header>Model 4</gsej-ng-tailwind-header>
  <div class="flex items-center">
    <app-popup class="ml-4">
      <p>
        Here I use the same underlying model as in Model 3, however the model is run multiple times,
        and rather than the results being year-by-year, they reflect the value attained at the target age.
      </p>
    </app-popup>
  </div>
</div>
<div class="grid grid-cols-2 pt-0 h-full">
  <div class="flex flex-col">
    <app-model4-inputs class="flex-grow" (onCalculate)="calculate($event)"></app-model4-inputs>
  </div>
  <div class="flex flex-col">
    <app-model4-chart class="flex-grow" [prediction]="prediction"></app-model4-chart>
  </div>
</div>
<app-model4-results [prediction]="prediction"></app-model4-results>
